body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
/* Load */
.scrollToTop {
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 23px;
  height: 47px;
  background-color: #009966;
  border: 1px solid #009966;
  line-height: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 50px;
  z-index: 999;
  font-weight: 600;
}

.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #fff;
  text-decoration: none;
  color: #009966;
  outline: none;
}

/* Header */
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eeeeee;
  height: auto;
  font-size: 14px;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li {
  list-style: none;
  margin: 0 15px;
}
.nav li  i{
  color: #009966;
}
.nav li a {
  text-decoration: none;
  color: #696763;
}
.media {
  margin-right: 50px;
}
.nav_media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_media li a:hover{
  color: #009966;
}
.nav_media li {
  list-style: none;
  color: #696763;
  margin: 0 10px;
}
.nav_media li a {
  color: #696763;
}
.container_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header_logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.header_logo a p {
  color: #696763;
  text-align: center;
}
.header_logo a strong {
  color: #c70039;
}
.header_logo a span {
  font-size: 18px;
  font-weight: normal;
  display: block;
  letter-spacing: 1.5px;
}
.header_search {
  width: 40%;
  position: relative;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 270px;
}
.search button {
  width: 60px;
  padding: 13px;
  background-color: #009966;
  border: none;
  color: #eeeeee;
  position: absolute;
  right: 0;
  top: 1;
  font-size: 16px;
  
}
.header_mids {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.header_mids li {
  list-style: none;
  color: #696763;
  margin-left: 10px;
  position: relative;
}
.header_mids li:hover {
  color: #009966;
}
.header_mids li i {
  margin: 10px;
}
.header_mids li a {
  text-decoration: none;
  color: #696763;
}
.header_mids li a:hover {
  color: #009966;
}
.header_mids li span {
  background: #da241c;
  color: #eeeeee;
  border-radius: 50%;
  padding: 6px;
  width: 10px;
  height: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  z-index: 100;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
/* Media fixx */
.fixed-media {
  position: fixed;
  bottom: 120px;
  left: 10px;
  z-index: 9999;
}
.fixed-media img {
  width: 50px;
  height: 50px;
  display: block;
}
.fixed-media_call{
  position: fixed;
  bottom: 180px;
  left: 10px;
  z-index: 9999;
}
.fixed-media_call img{
  width: 50px;
  height: 50px;
  display: block;
}
.fixed-media_mess {
  position: fixed;
  bottom: 240px;
  left: 10px;
  z-index: 9999;
}

.fixed-media_mess img{
  width: 50px;
  height: 50px;
  display: block;
}
/* Menu */

.navbar_container {
  align-items: center;
  z-index: 100;
  background-color: #009966;
}
.nav_list {
  list-style: none;
  display: flex;
  text-align: center;
}
.nav_list a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  
}

.nav_list li {
  padding: 15px;
}
.nav_list li:hover,.nav_list .active {
  background-color: #FF9130;
  color: #eeeeee;
}
.nav_list li:hover a,
.nav_list li.active {
  color: #eeeeee;
}

#Toggler,
.navbar_container label {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav_menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .nav_list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar_container label {
    display: inline-flex;
    color: #eeeeee;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
  }
  #Toggler:checked ~ .nav_menu {
    max-height: 100%;
  }
}
/* slider  */
.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 18px;
  color: #696763;
}
.slider li i {
  margin: 7px;
  color: #009966;
  font-size: 24px;
}
.owl-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  font-size: 24px !important;
  color: #009966 !important;
}

.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -20px;
  opacity: 1;
  z-index: 1;
}
.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -20px;
  opacity: 1;
  z-index: 1;
}
.owl-nav .owl-prev:hover {
  background-color: transparent !important;
}
.owl-nav .owl-next:hover {
  background-color: transparent !important;
}
/* ---------Banner---------- */
.banner_main {
  width: 100%;
  position: relative;
}
.item img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.left {
  position: absolute;
  top: 45%;
  left: 20px;
  opacity: 1.5;
}
.righ,
.left i {
  color: #eeeeee;
  font-size: 24px;
}
.righ {
  position: absolute;
  top: 45%;
  right: 20px;
  opacity: 1.5;
}
.righ i:hover {
  color: #da241c;
}
.left i:hover {
  color: #da241c;
}
/* ==============Main========== */
.container_main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  margin-top: 26px;
  overflow: hidden;
}
.category {
  width: 260px;
  border: 1px solid #c4dfdf;
  margin-left: 60px;
  padding: 0;
}
.category h2 {
  width: 100%;
  text-align: center;
  background-color: #0f0f0f;
  margin: 0;
  padding: 15px;
  font-size: 24px;
  box-sizing: border-box;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 100;
}
.categories_item {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.categories_item li:hover {
  background-color: #009966;
}
.categories_item li:hover a {
  color: #fff;
}

.categories_item li a {
  text-decoration: none;
  color: #696763;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.categories_item li {
  list-style: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 25px;
  border-bottom: 1px solid #c4dfdf;
}

/* product */
.main_conten {
  margin-right: 60px;
  overflow: hidden;
}
.product {
  flex-grow: 1;
  padding-right: 60px;
  height: auto;
  margin: 0;
}
.product img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_title {
  position: relative;
}
.product_title h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #696763;
}
/* cart */
.product_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  float: left;
}
.img_left {
  margin-left: 60px;
  margin-top: 10px;
}
.cart_item {
  border: 1px solid #ebebeb;
  height: 360px;
  text-align: center;
  display: block;
  width: 200px;
  margin-bottom: 17px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}
.cart_item img {
  width: 190px;
  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
 transition: transform 0.3s ease-in-out; 
}
/* .cart_item:hover img{
  transform: scale(1.1);
} */
.cart_item a i{
  margin-right: 10px;
}
.cart_item a {
  text-decoration: none;
  font-size: 14px;
  color: #696763;
  text-transform: uppercase;
  display: block;
  align-items: center;
  text-align: center;
  margin: 5px 0;
  padding-top: 5px;
}
.cart_item a:hover {
  color: #009966;
}
.cart_item span {
  color: #da241c;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.cart_item .add {
  background-color: #009966;
  width: 60%;
  box-sizing: border-box;
  padding: 13px;
  text-transform: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 10px;
}
.cart_item .add:hover {
  color: #f5f7f8;
  background-color: #202020;
}
.cart_item:hover {
  box-shadow: 0 0 1px #009966;

}

.category label {
  display: none;
}

#Togglers {
  display: none;
}
.Banner_main {
  max-width: 100%;
  margin: 30px 60px;
}
.Banner_main img {
  width: 100%;
  height: auto;
}
/* product new */
.product_new {
  margin-right: 60px;
  margin-left: 60px;
}
.product_newcart {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

/* đăng kí */
.main_res {
  width: 100%;
  background-color: #009966;
  display: flex;
  color: #c4dfdf;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: auto;
  margin-top: 30px;
  padding: 12px 0;
}
.btn_submit {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.btn_submit input[type="text"] {
  padding: 7px;
  font-style: italic;
  outline: none;
  font-size: 16px;
}
.main_res h3 span i {
  margin-right: 5px;
}
.dangki{
  padding: 13px;
  font-size: 16px;
  background-color: #4876ff;
  border: none;
  color: #fff;
  font-weight: 600;

}
.dangki:hover{
  background-color: #cc9900;
}
.dangki i{
  margin-right: 7px;
}
.btn_submit input[type="submit"] {
  margin-left: 10px;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  color: #c4dfdf;
  border-radius: 20px;
  background-color: #4876ff;
  border: none;
}
.btn_submit input[type="submit"]:hover {
  color: #c4dfdf;
  background-color: #4876ff;
}
/* foootrt */
.footer_container {
  background-color: #e0eeee;
}
.footer_item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  flex-wrap: wrap;
}

.items img {
  width: 100%;
  height: auto;
}
.items p {
  font-size: 16px;
  padding: 3px;
}
.items p:hover {
  color: #009966;
}
.items h5 {
  background-color: #009966;
  color: #c4dfdf;
  font-size: 16px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.coppy {
  text-align: center;
  font-size: 16px;
  padding: 0;
  font-style: italic;
}
/* cart */
.breadcrumbs {
  position: relative;
  margin-top: 30px;
}
.breadcrumbs .breadcrumb {
  background: transparent;
  margin-bottom: 75px;
  padding-left: 0;
  margin-left: 60px;
}
.breadcrumbs .breadcrumb li a {
  background: #009966;
  color: #ffffff;
  padding: 5px 7px;
  text-decoration: none;
  margin-right: 10px;
}
.breadcrumbs .breadcrumb li a:after {
  content: "";
  height: auto;
  width: auto;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent transparent #009966;
  position: absolute;
  top: 0;
}
.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}
.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumb li {
  list-style: none;
}
.table_cart {
  margin: 0 60px;
}
.table_cus {
  border: 1px solid #c4dfdf;
  width: 100%;
}
table {
  border-collapse: collapse;
}
.cart_menu {
  background-color: #0174BE;
  color: #fff;
  font-weight: 500;
  border-collapse: collapse;
  padding: 30px;
}
.cart_menu td {
  padding: 10px;
  border: none;
  line-height: 1.5em;
  font-weight: 600;
}
.cart_menu_product {
  text-align: center;
  font-size: 18px;
}
.cart_img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart {
  margin-bottom: 20px;
}
td a {
  text-decoration: none;
  color: #696763;
  font-size: 16px;
}
.cart_quantity_input {
  width: 35%;
  padding: 7px;
  outline: none;
  text-align: center;
  flex-wrap: wrap;
}
.cart_menu_quanity {
  width: 15%;
}
.thanhtien {
  width: 15%;
}
.delete a i {
  font-size: 24px;
  color: #da241c;
}
.cart_img img {
  width: 100px;
  height: auto;
}
.thanhtien p {
  color: #da241c;
  font-size: 20px;
  font-weight: 600;
}
/* pay */
.pay {
  margin: 20px 60px;
}
.pay h3 {
  text-align: center;
  padding: 10px;
}
.tb_total {
  border: 1px solid #c4dfdf;
  border-radius: 5px;
  width: 100%;
}
tr.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 90px;
  padding: 20px;
  font-size: 20px;
  color: #009966;
  font-weight: 600;
}
tr.total td input {
  padding: 12px;
  color: #c4dfdf;
  background-color: #009966;
  border: none;
  font-size: 16px;
}
.cart_tolsss {
  margin-bottom: 20px;
}
.cart_tolsss th,
.cart_tolss th {
  padding-right: 30px;
}

.cart_tolsss td,
.cart_tolss td {
  padding-left: 30px;
}

.cart_tolss {
  border-top: 1px solid #c4dfdf;
}
.buton_tong a input {
  padding: 7px;
  border: none;
  color: #c4dfdf;
  background-color: #009966;
}
.buton_tong a {
  text-decoration: none;
  color: #c4dfdf;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* chi tiết */
.deltail_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  width: 450px;
}
.main_deltails {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 26px;
  overflow: hidden;
}
/* Khuyến mãi */
.gift-box-khuyen-mai {
  background: white;
  border-radius: 5px;
  border: 1px solid #009966;
  width: 100%;
  margin-top: 50px;
}
.gift-box-khuyen-mai .tieu-de {
  margin-left: 10px;
  background: #009966;
  padding: 8px 15px;
  margin-top: -14px;
  color: #ffffff;
  display: block;
  max-width: 300px;
  border-radius: 99px;
}
span.tieude a {
  color: #ffffff !important;
}
.gift-box-khuyen-mai ul {
  margin: 10px 0px;
}
.list-gift-item {
  list-style: none;
  color: #3a3a3a;
  margin: 20px 0;
  background: var(--wpr-bg-5af9f202-4871-4ee2-b62a-f46249dd04db);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-y: 3px;
}
.list-gift-item i {
  color: #009966;
  margin-right: 15px;
}
/* Hotline */
.hotline p {
  font-size: 16px;
  color: #696763;
}
.hotline i {
  color: #009966;
  font-size: 20px;
  margin-right: 10px;
}
.hotline p span {
  font-weight: 600;
  color: #009966;
}
.img_deltail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 360px;
}
.image_con img {
  border: 1px solid #cccccc;
  height: 70px;
}
.image_con img:hover {
  border: 1px solid #009966;
}
.img_deltail .image_main {
  width: 100%;
  margin-bottom: 26px;
}
.img_deltail .image_main img {
  width: 100%;
  height: 360px;
  border: 1px solid #cccccc;
}
.image_con {
  margin: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.img .imag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.img .imag .item {
  height: 140px;
  flex-grow: 1;
}
.img .imag .item img {
  width: 100%;
  height: auto;
}
.deltail_conten h3 {
  font-size: 24px;
  text-align: start;
  line-height: 1;
  color: #009966;
  text-transform: uppercase;
}

.deltail_conten bdi {
  font-size: 24px;
  color: #da241c;
  font-weight: bold;
}
.quani label {
  font-size: 16px;
  color: #696763;
}
.quani input {
  outline: none;
  width: 80px;
  font-size: 16px;
  padding: 5px;
  color: #696763;
}
.qanity_btn {
  margin: 20px 0;
}
.btn_cart {
  margin-top: 20px;
}
.btn_cart input {
  background-color: #009966;
  border: none;
  padding: 17px;
  font-size: 20px;
  color: #fff;
}
.conten {
  margin-top: 25px;
}
.conten .mota {
  line-height: 1.5;
  color: #696763;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 16px;
  padding: 10px 0;
  border-top: 1px solid #c4dfdf;
  border-bottom: 1px solid #c4dfdf;
}
.items_product {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.description {
  border-bottom: 2px solid #009966;
  margin: 10px 60px;
  padding-bottom: 20px;
}
.description h3 {
  text-transform: uppercase;
  color: #009966;
  text-align: center;
}
.description tr td {
  border-bottom: 1px solid #f1efef;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  white-space: pre-line;
}

.description tr td span {
  flex-basis: 450px;
  font-size: 16px;
  color: #696763;
  text-transform: uppercase;
  font-weight: 600;
}

.des_tab {
  width: 100%;
  border-collapse: collapse;
}
/* Phân Trang */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
  margin-top: 15px;
  margin-right: 60px;
  list-style: none;
}
.pagination li:first-child a,
.pagination li:first-child span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}
.pagination li:last-child a,
.pagination li:last-child span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  background-color: #009966;
  border-color: #009966;
  color: #ffffff;
  cursor: default;
  z-index: 2;
}

.pagination li a,
.pagination li span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}
.pagination li a:hover {
  background: #009966;
  color: #fff;
}
.product_title h3::after {
  content: "";
  display: block;
  width: 150px;
  clear: both;
  margin: 10px auto 30px;
  border-bottom: 1px solid #cc9900;
  margin-top: 5px;
}
/* ìno */
.info {
  flex-basis: 700px;
  border: 1px solid #c4dfdf;
}
.info h3 {
  text-align: center;
  color: #009966;
  text-transform: uppercase;
}

.check_info .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 20px;
}
.check_info .dress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 10px 20px;
}
.checkout_client input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.check_info {
  display: block;
}
.check_info .name input:hover {
  border: 1px solid #696763;
}
.check_info .dress input:hover {
  border: 1px solid #696763;
}
#adress :hover {
  border: 1px solid #696763;
}
#adress {
  outline: none;
  margin: 20px;
  font-size: 16px;
  border: 1px solid #c4dfdf;
}
.pay {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
}
input[type="text"] {
  outline: none;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #c4dfdf;
  /* border-radius: 3px; */
  width: 100%;
}

input[type="Email"] {
  outline: none;
  padding: 12px;
  width: 380px;
  font-size: 16px;
  border: 1px solid #c4dfdf;
}
/* Liên Hệ */
.titles h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 600;
  margin: 50px 0;
}
.titles h3::after {
  content: "";
  display: block;
  width: 100px;
  clear: both;
  margin: 10px auto 30px;
  border-bottom: 1px solid #009966;
  margin-top: 5px;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
}

.map iframe {
  width: 100%;
}

.main_contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  margin: 0 60px;
}

.formgui {
  flex-grow: 1;
  padding: 20px;
}
.form_controls h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 500;
}
.item_input input {
  padding: 15px;
  outline: none;
  font-size: 16px;
  color: #696763;
}
.item_input input:hover {
  border: 1px solid #009966;
}
.item_put1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item_input {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
}
.form_controls .subljxt {
  box-sizing: border-box;
  padding: 15px;
}

.form_controls .subljxt:hover {
  border: 1px solid #009966;
}
.form_controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.form_controls textarea {
  outline: none;
  color: #696763;
  border: 1px solid #c4dfdf;
}
.form_controls .sub {
  width: 100px;
  padding: 10px;
  color: #c4dfdf;
  background-color: #009966;
  border: none;
  cursor: pointer;
  float: right;
}
.form_controls textarea:hover {
  border: 1px solid #009966;
}
.contact_info {
  padding: 20px;
}
.contact_info h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 500;
}
address {
  font-style: normal;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

address p {
  color: #696763;
  font-size: 16px;
}
address p i {
  color: #009966;
  font-size: 18px;
  margin-right: 5px;
}
.mdeia_contact h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 500;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icon a {
  color: #696763;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.icon a:hover {
  color: #009966;
}
/* Kết thúc liên hệ */
/* Chính sách */
#policy .container {
  margin: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#policy .container .title h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 600;
}
#policy .container .title h3::after {
  content: "";
  display: block;
  width: 150px;
  clear: both;
  margin: 10px auto 30px;
  border-bottom: 1.5px solid #009966;
  margin-top: 5px;
}
#policy .container .contens .titless {
  color: #009966;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#policy .container .contens .titlesss {
  color: #009966;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0;
  text-transform: uppercase;
}
.contens_gioithieu ol{
  list-style: none;
  
}
.contens_gioithieu{

}
.contens_gioithieu ol li{
  line-height: 2;
}
.policy_tra p {
  color: #696763;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2;
}
.policy_tra p span {
  font-weight: 550;
}
#policy .container .contens ol {
  display: flex;
  flex-direction: column;
  color: #696763;
  gap: 20px;
  letter-spacing: 0.5px;
  font-size: 16px;
}
/* Tin tức */
.blogs .title h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 600;
}
.blogs {
  margin-right: 60px;
}
.blogs .title h3::after {
  content: "";
  display: block;
  width: 70px;
  clear: both;
  margin: 10px auto 30px;
  border-bottom: 1.5px solid #009966;
  margin-top: 5px;
}

.main_blogs .item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.main_blogs .item .item_s {
  width: 80%;
}
.main_blogs .item .item_s p {
  color: #696763;
  text-align: justify;
  line-height: 1.5;
  margin: 0;
}
.main_blogs .item .item_s a input {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  margin-top: 5px;
  color: #c4dfdf;
  background-color: #009966;
  border: none;
}
.item_s .titles {
  text-decoration: none;
}
.item_s .titles h4 {
  color: #202020;
  text-transform: uppercase;
}
.item_s .titles h4:hover {
  color: #009966;
}
.main_blogs .item .image {
  width: 30%;

  float: left;
}
.main_blogs .item .image img {
  width: 100%;
  height: 180px;
}
.item_conten {
  width: 100%;
}
.item_conten p {
  color: #696763;
  text-align: justify;
  line-height: 1.5;
}
.main_blogs_head {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blogs .title_tieude h3 {
  text-align: center;
  text-transform: uppercase;
  color: #009966;
  font-weight: 600;
}
.colum p {
  color: #696763;
  font-size: 15px;
}
/* Bộ loc */
.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  line-height: 3;
}
.sort p {
  font-size: 18px;
  color: #6b7280;
  text-transform: uppercase;
}
.sort .sort_product {
  padding: 7px;
  outline: none;
  color: #6b7280;
  font-size: 16px;
  text-transform: uppercase;
}
.sort .sort_product .sort_proption {
  font-size: 16px;
  text-transform: uppercase;
}
.sort_product_btn {
  padding: 8px;
  background-color: #009966;
  border: none;
  color: #f5f7f8;
  font-size: 16px;
}
.result p {
  color: #696763;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

/* reponsiv */
@media screen and (max-width: 870px) {
  .slider_container {
    display: none;
  }

  .item img {
    height: 250px;
  }

  .container_main {
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .left_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .category {
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
    position: relative;
  }
  .categories_item {
    display: none;
    flex-direction: column;
  }

  .categories_item.active {
    display: block;
    max-height: 100%;
  }
  .category label {
    display: inline-flex;
    position: absolute;
    display: block;
    top: 5px;
    padding: 10px;
    left: 10px;
    color: #c4dfdf;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
  }
  #Togglers:checked ~ .category .categories_item {
    max-height: 100%;
  }
  .img_left {
    display: none;
  }

  .product_cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product_highly {
    margin-left: 60px;
  }
  .product_new {
    margin-left: 60px;
  }
}
@media screen and (max-width: 552px) {
  .cart_item {
    width: 100%;
    height: auto;
  }
  .cart_item img {
    width: 100%;
    height: auto;
  }
  .product_newcart .cart_item {
    width: 100%;
    height: auto;
  }
  .product_newcart .cart_item img {
    width: 100%;
    height: auto;
  }
  .footer_item {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .main_res h3 {
    font-size: 15px;
  }
  .dangki {
    padding: 3px;
  }
}
.card {
  background-color: rgba(243, 244, 246, 1);
  padding: 2rem;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}

.header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.header .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: royalblue;
}

.stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgba(34, 197, 94, 1);
}

.stars svg {
  height: 1rem;
  width: 1rem;
}

.name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgba(55, 65, 81, 1);
}

.message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}
/* Tin tức */
.card_tintuc {
  padding: 10px;
  max-width: 260px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
  height: 350px;
  align-items: center;
}

.content {
  margin-top: 1rem;
}

.card_tintuc .header_tintuc {
  margin-top: 0.5rem;
}

.image_tintuc {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: 150px;
  border-radius: 4px;
  background-color: rgb(205, 235, 255);
  padding: 9px;
}

.date {
  display: flex;
  font-size: 0.75rem;
  line-height: 1rem;
  align-items: center;
  margin: 2px;
}

.title_tintuc {
  display: block;
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 14px;
}

.description_tintuc {
  line-height: 1.375;
}
.info_tintuc a .title_tintuc:hover{
  color: #009966;
}
.Conten{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.conten_check img{
  margin-right: 7px;
}
.conten_check h3{
  color: #009966;
  font-size: 24px;

}
.conten_check p{
  color: #3a3a3a;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
.conten_check a{
  text-decoration: none;
  background-color: #009966;
  color: #fff;
  padding: 13px;
}